*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background-color: rgb(240, 228, 195);
  --button-hover: rgba(0,0,0,0.2);
  --font-display: Merriweather, sans-serif;
}

html, body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--background-color);
  flex: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  transition: all ease-in-out 200ms;
}

a:hover{ 
  text-decoration: underline;
}

h1 {
  font-family: Merriweather, sans-serif;
  margin-bottom: 50px
}